<% @game.board.reverse.each do |column| %>
  <div class="row placeholders">
    <div class="col-xs-4">
      <% column.each do |slot| %>
        <a  class="col-xs-6 btn btn-circle <%= slot.to_s %>"><i class=""></i></a>
      <% end %>
    </div>
  </div>
<% end %>
